<!doctype html>

<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }}
  <!-- Header hook for plugins -->
  {{ 'application.scss.css' | asset_url | stylesheet_tag }}
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'responsive.css' | asset_url | stylesheet_tag }}
  {{ 'jquery.mCustomScrollbar.min.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
    media="screen">
  <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

  {{ 'application.js' | asset_url | script_tag }}
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'popper.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
  {{ 'jquery-3.0.0.min.js' | asset_url | script_tag }}
  {{ 'plugin.js' | asset_url | script_tag }}
  {{ 'jquery.mCustomScrollbar.concat.min.js' | asset_url | script_tag }}
  {{ 'custom.js' | asset_url | script_tag }}
  {{ 'owl.carousel.js' | asset_url | script_tag }}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />

  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

  <script defer src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script defer src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
  <script defer src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
  <script>
    import Swiper from 'swiper';
    import 'swiper/css';

    function openNav() {
      document.getElementById("mySidenav").style.width = "100%";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }

    const swiper = new Swiper('.swiper-container', {
      // Optional parameters
      // cssMode: true,
      spaceBetween: 100,
      loop: true,
      speed: 1000,
      effect: 'fade',
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },

      // If we need pagination

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
  </script>


</head>

<body>
  <main role="main">
    {{ content_for_layout }}
  </main>
  <!-- header section end -->

  <!-- catagary section start -->
  <div class="catagary_section layout_padding">
    <div class="container">
      <div class="catagary_main">
        <div class="catagary_left">
          <h2 class="categary_text">Categary</h2>
        </div>
        <div class="catagary_right">
          <div class="catagary_menu">
            <ul>
              <li><a href="#">Man's Fashion</a></li>
              <li><a href="#">Woman Fashion</a></li>
              <li><a href="#">Beauty</a></li>
              <li><a href="#">Mobiles</a></li>
              <li><a href="#">Computers</a></li>
              <li><a href="#">Watchs</a></li>
              <li><a href="#">Kicthen</a></li>
              <li><a href="#">Sports</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="catagary_section_2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="box_man">
            <h3 class="mobile_text">Mobile</h3>
            <div class="mobile_img"><img src="images/mobile-img.png"></div>
            <div class="cart_main">
              <div class="cart_bt"><a href="#">Add To Cart</a></div>
              <h4 class="samsung_text">Samsung</h4>
              <h6 class="rate_text"><a href="#">$500</a></h6>
              <h6 class="rate_text_1">$1000</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box_man">
            <h3 class="mobile_text">Watch</h3>
            <div class="watch_img"><img src="images/watch-img.png"></div>
            <div class="cart_main">
              <div class="cart_bt"><a href="#">Add To Cart</a></div>
              <h4 class="samsung_text">Samsung</h4>
              <h6 class="rate_text"><a href="#">$500</a></h6>
              <h6 class="rate_text_1">$1000</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box_man">
            <h3 class="mobile_text">Camera</h3>
            <div class="camera_img"><img src="images/camera-img.png"></div>
            <div class="cart_main">
              <div class="cart_bt"><a href="#">Add To Cart</a></div>
              <h4 class="samsung_text">Samsung</h4>
              <h6 class="rate_text"><a href="#">$500</a></h6>
              <h6 class="rate_text_1">$1000</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- catagary section end -->
  <!-- computers section start -->
  <div class="computers_section layout_padding">
    <div class="container">
      <h1 class="computers_taital">Computers & Laptop</h1>
    </div>
  </div>
  <div class="computers_section_2">
    <div class="container-fluid">
      <div class="computer_main">
        <div class="row">
          <div class="col-md-4">
            <div class="computer_img"><img src="images/computer-img.png"></div>
            <h4 class="computer_text">COMPUTER</h4>
            <div class="computer_text_main">
              <h4 class="dell_text">Samsung</h4>
              <h6 class="price_text"><a href="#">$500</a></h6>
              <h6 class="price_text_1"><a href="#">$1000</a></h6>
            </div>
            <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
          </div>
          <div class="col-md-4">
            <div class="computer_img"><img src="images/laptop-img.png"></div>
            <h4 class="computer_text">LAPTOP</h4>
            <div class="computer_text_main">
              <h4 class="dell_text">Dell</h4>
              <h6 class="price_text"><a href="#">$500</a></h6>
              <h6 class="price_text_1"><a href="#">$1000</a></h6>
            </div>
            <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
          </div>
          <div class="col-md-4">
            <div class="computer_img"><img src="images/mac-img.png"></div>
            <h4 class="computer_text">macOS</h4>
            <div class="computer_text_main">
              <h4 class="dell_text">Apple</h4>
              <h6 class="price_text"><a href="#">$500</a></h6>
              <h6 class="price_text_1"><a href="#">$1000</a></h6>
            </div>
            <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- computers section end -->
  <!-- mans clothes section start -->
  <div class="mans_section layout_padding">
    <div class="container">
      <h1 class="computers_taital">Man’s clothes</h1>
    </div>
  </div>
  <div class="mans_section_2">
    <div class="container-fluid">
      <div class="mans_main">
        <div class="row">
          <div class="col-md-6">
            <h1 class="offer_text">Best Offer Every Man’s Iteams</h1>
            <p class="lorem_text">There are many variations of passages of Lorem Ipsum available,but the majority have
            </p>
            <div class="read_bt"><a href="#">Buy Now</a></div>
          </div>
          <div class="col-md-6">
            <div class="image_3"><img src="images/img-3.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mans clothes section end -->
  <!-- womans clothes section start -->
  <div class="computers_section layout_padding">
    <div class="container">
      <h1 class="womans_taital">woman’s clothes</h1>
      <div class="womans_section_2">
        <div class="row">
          <div class="col-md-6">
            <h1 class="Get_offer_text">Get <br>offer Every Iteams</h1>
            <div class="read_bt"><a href="#">Buy Now</a></div>
          </div>
          <div class="col-md-6">
            <div class="image_4"><img src="images/img-4.png"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- womans clothes section end -->
  <!-- footer section start -->
  <div class="footer_section layout_padding margin_top_90">
    <div class="container">
      <div class="footer_logo_main">
        <div class="footer_logo"><a href="index.html"><img
              src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/footer-logo.png?v=1654065537"></a></div>
        <div class="social_icon">
          <ul>
            <li><a href="#"><img
                  src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/fb-icon.png?v=1654065537"></a></li>
            <li><a href="#"><img
                  src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/twitter-icon.png?v=1654065925"></a></li>
            <li><a href="#"><img
                  src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/linkedin-icon.png?v=1654065925"></a></li>
            <li><a href="#"><img
                  src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/instagram-icon.png?v=1654065537"></a></li>
            <li><a href="#"><img
                  src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/youtub-icon.png?v=1654065537"></a></li>
          </ul>
        </div>
      </div>
      <div class="footer_section_2">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <h4 class="adderss_text">About</h4>
            <p class="ipsum_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="adderss_text">Menu</h4>
            <div class="footer_menu">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="computers.html">Computers</a></li>
                <li><a href="Mans_clothes.html">Mans Clothes</a></li>
                <li><a href="womans_clothes.html">Womans Clothes</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="adderss_text">Useful Link</h4>
            <div class="footer_menu">
              <ul>
                <li><a href="#">Adipiscing</a></li>
                <li><a href="#">Elit, sed do</a></li>
                <li><a href="#">Eiusmod</a></li>
                <li><a href="#">Tempor</a></li>
                <li><a href="#">incididunt</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h4 class="adderss_text">Contact</h4>
            <div class="call_text"><img
                src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/map-icon.png?v=1654065537"><span
                class="paddlin_left_0"><a href="#">London 145 United Kingdom</a></span></div>
            <div class="call_text"><img
                src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/call-icon.png?v=1654065537"><span
                class="paddlin_left_0"><a href="#">+7586656566</a></span></div>
            <div class="call_text"><img
                src="https://cdn.shopify.com/s/files/1/0620/9742/4575/files/mail-icon.png?v=1654065537"><span
                class="paddlin_left_0"><a href="#">volim@gmail.com</a></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer section end -->
  <!-- copyright section start -->
  <div class="copyright_section">
    <div class="container">
      <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html
          Templates</a></p>
    </div>
  </div>

  <!-- {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
      {% endfor %}]
    {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %}

  <a href="/cart">cart</a>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %} -->


</body>

</html>